* {
    background-color: peachpuff;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22.5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    justify-content: space-between;
    display: flex;
}

nav img {
    margin: 25px;
    padding: 10px;
    height: 70px;
    width: 200px;
}

nav ul {
    text-align: end;
    margin: 40px;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: lightsalmon;

}